<div class="wrapper">
  <div id="formContent">
    <!-- <h2 class="underlineHover"  routerLink="/login"  routerLinkActive="active">Sign In</h2> -->
    <!-- <br> -->
    <!-- <h2 class="underlineHover"  routerLink="/signup"  routerLinkActive="active">Sign Up</h2> -->


    <!-- <button type="submit" href="/login">Sign In</button>
    <button type="submit" href="/signup">Sign Up</button> -->

    <a class="underlineHover" href="/login">Sign In</a>    
    <a class="underlineHover" href="/signup">Sign Up</a>


    <router-outlet></router-outlet>
  </div>
</div>